@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";


:root {
  font-family: 'Poppins', sans-serif;
}

.bg-oneconvert-gradient {
 /* Desktop - 1 */

position: relative;
height: 1555px;

background: linear-gradient(180deg, #90DAF2 11.06%, #7FC9E2 26.27%, #90DAF2 41.35%, #55A1BA 68.27%, #A1DFF4 88.46%);
min-height: 100vh;
}


